<div align="center">
  <div align="center"><img src="<{$xoops_url}>/modules/googleearth/images/googleearth_logo.png" title="<{$lang_title}>" alt="<{$lang_title}>" /></div><br /><br />
  <div id="tx-desc" style="text-align: left;"><{$lang_slogan}></div><br /><br />
</div>
<div id="xo-ads">
<script type="text/javascript"><!--
google_ad_client = "pub-3352884075259517";
/* 468x15, creato 02/06/10 */
google_ad_slot = "7727011651";
google_ad_width = 468;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>
<div id="map">
 <div id="map3d" style="border: 1px solid silver; height: <{$earth_height}>px; width: <{$earth_width}>%;"></div>
</div>